
body {
    padding: 0;
    font-size: 16px;
}

.container {
    height: 100%;
    width: 100%;
    background-color: #F9F6E5;
    position: relative;
    overflow: hidden;
}

.circles {
    position: absolute;
    border-radius: 100%;
    background-color: #383E4E;
    height: 40em;
    width: 40em;
    overflow: hidden;
}

.title {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #EA5643;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 6em;
    margin: 0;
    mix-blend-mode: difference;
    margin-bottom: 0;
    width: 400px;
    Font-Family: 'Abril Fatface', Cursive;
    letter-spacing: .05em;
}

.decoration {
    position: relative;
    /* height: 12px; */
    margin-bottom: 10px;

}

.decoration::after {
    content: '';
	position: absolute;
	width: 10em;
	height: 2px;
	background: #EA5643;
	top: 100%;
	left: 0;
}

p {
    Font-Family: 'Poppins', Sans-Serif;
    margin-top: 10px;
    font-size: 1em;
    width: 400px;
    /* color: #383E4E; */
}

span {
    font-weight: bold;
    font-size: 1.1em;
    /* background-color: #383E4E;
    opacity: 60%; */
}

.left {
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
}
.right {
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
}
