

.body {
    position: absolute;
    padding: 0;
    height: 100%;
    width: 100%;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: slategray;
}

h1 {
    color: transparent;
    font-size: 8em;
    background-clip: text;
    -webkit-background-clip: text;
}